@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
    font-family: CalSans;
    font-display: swap;
    src: url(../fonts/cal-sans/CalSans-SemiBold.woff2) format("woff2"), url(../fonts/cal-sans/CalSans-SemiBold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: Poppins;
    color: #666666;
}

ul {}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* __________________________________________ */

.page {
    flex: 1 1 auto;
}

.page__main {}

/* __________________________________________ */

[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.accentText {
    color: #FF6428;
}

.page-section {
    padding: 90px 0;
}

.page-section__title {
    font-family: CalSans;
    color: #121212;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    margin-bottom: 86px;
}

/* ____________________ */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header__container {
    display: flex;
    gap: 131px;
    padding: 5px 15px;
    min-height: 152px;
    align-items: center;

}


.block__container {}

.header__logo {}

.header__menu.menu {}

.menu__list {
    display: flex;
    gap: 56px;
}

@media (max-width: 596px) {
    .header__container {
        gap: 70px
    }
}

@media (max-width: 538px) {
    .header__container {
        display: block;
        text-align: center;
    }

    .menu__list {
        justify-content: center;
    }

    .header__logo {
        display: inline-block;
        margin-bottom: 25px;
        padding-top: 15px;
    }
}

.menu__link {
    color: rgba(18, 18, 18, 0.4);
    font-weight: 500;
}

.menu__link:hover {
    text-decoration: underline;
}

/* ___________________ */


.main {
    padding-bottom: 80px;
}

.main__container {
    display: flex;
}

.main__content {
    align-self: flex-end;
    padding-bottom: 60px;
    padding-top: 140px;
    padding-right: 20px;
    flex: 0 1 50%;
}

.main__title {
    font-family: CalSans;
    font-size: 56px;
    color: #121212;
    margin-bottom: 16px;
    line-height: 67px
}



.main__text {
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    max-width: 400px;
}

.actions-main {
    display: flex;
    align-items: center;
    gap: 40px;
}



.actions-main__button {
    display: inline-block;
    padding: 18px 48px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #FF6428;
    border-radius: 40px;
    transition: all 300ms ease 0s;
}

.actions-main__button:hover {
    color: #121212;
    background-color: #db5621;
}


.actions-main___iconsWrapper {
    display: flex;
    gap: 28px;
}

@media (max-width: 700px) {
    .actions-main {
        flex-direction: column;
    }
}

.main__decor {
    flex: 0 1 50%;
}

.main__image {
    display: inline-block;
    position: relative;
    margin-right: -135px;
}


@media (max-width: 863px) {
    .main__image img {
        width: 100%;
    }

    .menu__link {
        display: inline-block;
        background-color: rgba(194, 193, 193, 0.4);
        padding: 5px 10px;
        border-radius: 5px;
        color: #121212;
    }

}

.main__image::after {
    content: '';
    width: 80px;
    height: 80px;
    background-image: url(../img/main/decor.svg);
    position: absolute;
    right: 36.3%;
    bottom: 0;
    transform: translate(0, 50%);
}

.productsGroup {
    margin-bottom: 96px;
}

.productsGroup__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.productsGroup__subtitle {
    color: #121212;
    letter-spacing: 0.08em;
    font-weight: 600;
    font-size: 20px;
}

.productsGroup__link {
    color: #868686;
    font-size: 20px;
    font-weight: 500;
}

.productsGroup__link:hover {
    text-decoration: underline;
}

.productsGroup__list {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
}

@media (max-width:1229px) {
    .productsGroup__list {
        justify-content: center;
    }
}



.product__image {
    margin-bottom: 40px;
    transition: all 300ms ease 0s;
}

.product__name {
    color: #121212;
    font-weight: 500;
    margin-bottom: 7px;

}

.product__price {
    color: #666666;
    font-size: 14px
}

.product__link:hover .product__name {
    text-decoration: underline;
}

.product__link:hover .product__image {
    transform: scale(1.15);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 69px
}

.category {
    position: relative;
}

.category__description {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF
}

.categories__link:hover .category__description {
    text-decoration: underline;
}

.category__image {
    transition: all 300ms ease 0s;
}

.categories__link:hover .category__image {
    transform: scale(1.10);
}